.btn-outline-success {
    color: #000000;
    border-color: #333333;

}
.btn-outline-success:hover{

}
.navbar-collapse {
    flex-grow: 0;
}
.nav-link {
    border-color: gray;
}

.jumbotron {
    background-image: url("../img/pizza.png");
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 0;

}
.jumbotron > h1 {
    color: black;
    background-color: white;
    opacity: 50%;
    width: 100%;
    text-align: center;
    margin: 0;

}
.jumbotron > .\.d-sm-none, .\.d-md-block{
    display: none;
}
.card-footer {
    display: flex;
    justify-content: flex-end;

}
#subcard {
    margin: 1em;
    width: calc(100% - 2em );
}
