body{
    background-image: url("../img/canadian-dollar.png");
}


#container h1, #container>h2{
    color: #a2e4dd;
    text-decoration: underline;
    background-color: darkcyan;
    text-align: left;
    text-indent: 50px;
    font-family: "American Typewriter";
    font-weight: lighter;
    font-size: 3em;

}

.fancy-header{
    color: plum;
}
/*id uses .*/

.xl{
    font-size: 4em;
}

h1.md{
    font-size: 1.5em;
    color: palevioletred;
}

#end-title{
    color: gold;
}
/*title uses #*/

/* unvisited link (:link) */
a:link {
    color:red;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:blue;
}

/* active/selected link (:active) */
a:active {
    color:green;
}
ol { list-style: upper-alpha; }
ul { list-style: square; }
