body{
    background: lavenderblush;
    background-image: url("../img/let-there-be-sun.png");
    font-family: 'Architects Daughter', cursive;
    font-kerning: none;
}

.fancy-header{
    color: lightcoral;
    text-align: center;
    background: lavenderblush;

}

header {
    color: lightcoral;
    text-decoration: underline;
    background: lavenderblush;
}

h1,h2 {
    color: lightcoral;
}

ol { list-style: lower-alpha; }
ul { list-style: square; }

table{

    border: 4px solid darkgoldenrod;
    background: lavenderblush;
    border-spacing: .5px;
}

td, tr,th {
    border: 1px solid darkgoldenrod;
}

a:link {
    color:red;
}

a:visited {
    color:black;
}

a:hover {
    color:blue;
}

a:active {
    color:green;
}